USE [J3LP0001]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 2/28/2021 12:25:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[aid] [varchar](50) NOT NULL,
	[qid] [varchar](50) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[isTrue] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 2/28/2021 12:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[qid] [varchar](50) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[created] [date] NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[qid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/28/2021 12:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[email] [varchar](max) NOT NULL,
	[isTeacher] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Answer] ([aid], [qid], [content], [isTrue]) VALUES (N'odsaiwccmxvcadc', N'xfzmhumnzozlwec', N'Hanukkah', 0)
INSERT [dbo].[Answer] ([aid], [qid], [content], [isTrue]) VALUES (N'wwyjtkfgftpmaus', N'xfzmhumnzozlwec', N'Yom Kippur', 0)
INSERT [dbo].[Answer] ([aid], [qid], [content], [isTrue]) VALUES (N'vygvihbqjskhraq', N'xfzmhumnzozlwec', N'Kwanza', 0)
GO
INSERT [dbo].[Question] ([qid], [userName], [content], [created]) VALUES (N'bnxkbwdrcknioyy', N'thinh', N'What does the “D” in “D-Day” stand for?', CAST(N'2021-02-17' AS Date))
INSERT [dbo].[Question] ([qid], [userName], [content], [created]) VALUES (N'ehgghyziprptdih', N'thinh', N'Which country held the 2016 Summer Olympics?', CAST(N'2021-02-17' AS Date))
INSERT [dbo].[Question] ([qid], [userName], [content], [created]) VALUES (N'gzqbgaxvpfajsqo', N'thinh', N'Who was the only U.S. President to resign?', CAST(N'2021-02-17' AS Date))
GO
INSERT [dbo].[User] ([userName], [password], [email], [isTeacher]) VALUES (N'an', N'123', N'ng0cth1nh@gmail.com', 1)
INSERT [dbo].[User] ([userName], [password], [email], [isTeacher]) VALUES (N'duc', N'123', N'duc@gmail.com', 1)
INSERT [dbo].[User] ([userName], [password], [email], [isTeacher]) VALUES (N'hai', N'123', N'hai@gmail.com', 0)
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_Answer_Question] FOREIGN KEY([qid])
REFERENCES [dbo].[Question] ([qid])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_Answer_Question]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Question_User] FOREIGN KEY([userName])
REFERENCES [dbo].[User] ([userName])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Question_User]
GO
